*~
*.swp
m4/*.m4
*.la
*.lo
*.o
.libs/
.deps/
autom4te.cache/
math_tables.c
dcaenc
gentables
Makefile
Makefile.in
dcaenc.pc
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
*.tar.gz
depcomp
install-sh
libtool
*.wav
*.dts
ltmain.sh
missing
stamp-h1
compile
